<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
    <style>
        .body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background: linear-gradient(to bottom, #ffffff, #7ded7e);
            /*background-color: #eaf4ef;*/
            color: #4c4c4c;
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>
    <div class="container">
        <h1>
            <%= recipe.title %>
        </h1>
        <img src="<%= recipe.image %>" alt="<%= recipe.title %>" />
        <h2> Ingredients </h2>
        <ul>
            <% recipe.extendedIngredients.forEach(ingredient=> { %>
                <li>
                    <%= ingredient.original %>
                </li>
                <% }) %>
        </ul>🟰

        <h2> Instructions</h2>
        <ol>
            <% recipe.analyzedInstructions[0].steps.forEach(step=> { %>
                <li>
                    <%= step.step %>
                </li>
                <% }) %>
        </ol>
    </div>

</body>

</html>